*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.hero{
    width: 1000px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.left img{
    height: 300px;
    width: 300px;
}
.right{
    background-color: white;
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

}
.right h1{
    margin-left: 7%;
    margin-right: 7%;
}
.right p{
    margin-left: 7%;
    margin-right: 7%;
}
.down{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.avtar{
    display: flex;
    align-items: center;
    margin-left: 7%;
}
.avtar img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}
.share{
    margin-right: 10%;
    background-color: rgb(70, 68, 78);
    height: 40px;
    width: 40px;
    border-radius: 50%; 
}
#social-media{
    height: 30px;
    width: 100px;
    visibility: hidden;
}


#social-media.active{
    height: 40px;
    width: 120px;
    background-color: rgb(112, 118, 154);
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    margin: 10px;
}
@media (max-width: 360px){

    .right{
        
        width: 300px;
        height: 300px;
        
    }
    .right h1{
        margin-left: 7%;
        margin-right: 7%;
        font-size: 20px;
        margin-top: 3%;
    }
}
@media screen and (max-width: 768px) and (min-width:361px) {
    .hero{
        height: 100vh;
        width: 400px;
        
    }
    .right{
        
        width: 400px;
        height: 400px;
      
    
    }
    .left img{
        height: 300px;
        width: 400px;
    }
    .right h1{
        margin-left: 7%;
        margin-right: 7%;
        font-size: 30px;
        margin-top: 5%;
    }
}
@media screen and (max-width: 1000px) and (min-width:769px){
    .right{
        width: 500px;
        height: 300px;
        
    }
    .left img{
        height: 300px;
        width: 200px;
    }
    .avtar{
        margin-left: 3%;
    }
    .right h1{
        margin-left: 3%;
        margin-right: 3%;
        font-size: x-large;
        margin-top: 5%;
    }
    .right p{
        margin-left: 3%;
        margin-right: 3%;
    }
}
